<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>CellPhone</th>
    <th>Address</th>
    <th>Email</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of customerList$ | async">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.cellphone }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.address }}</td>
      <td>
        <a class="btn btn-success mx-1"><i class="bi bi-pencil-square"></i></a>
        <a class="btn btn-danger mx-1"><i class="bi bi-trash2"></i></a>
      </td>
    </tr>
  </tbody>
</table>
